* {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  margin: 0px;
}

.caja {
  width: 40%;
  margin: 5% auto 0;
  text-align: center;
  border: solid 4px black;
  background-color: chocolate;
}

#letra {
  border: solid 2px black;
  background-color: rgb(228, 197, 156);
}

#letra:disabled{
  background-color: rgb(155, 130, 98);
}

#verificar {
  margin: 5px 0;
  padding: 7px;
  border: solid 2px black;
  border-radius: 15px;
  background-color: rgb(228, 197, 156);
}
